<h1>All People</h1>

<ul class="people">
  <% @people.each do |person| %>
    <li>
      <%= person.name %>, <%= person.email %> <%= link_to "View", person_path(person) %>
    </li>
  <% end %>

</ul>