<div class="center hero-unit">
  <h1>Welcome to PairPal</h1>
  <h2>What would you like to do today?</h2>
  <ul>
  	<li><%= link_to "Add a person",  newperson_path %></li>
  	<li><%= link_to "Add a team",    '#' %></li>
  	<li><%= link_to "View schedule", '#' %></li>
  </ul>
</div>